<script lang="ts">
	import { words } from '../modules/wordlist/english.ts';
	import { searchPosition } from '../modules/search/search.ts';

	let value = '';
	let list: Array<string> = [];
	$: list = value.split(/\n+/).map((word) => word.replace(/\s/, ''));
	let positions: Array<string> = [];
	$: positions = list.map((word) => {
		const result = searchPosition(word, words);
		return result.toString().padStart(4, '0').split('').join(' ');
	});
</script>

<div class="mx-2">
	<h1 class="text-4xl text-primary mb-2">BIP39 Positional Dictionary</h1>
	<div class="mx-5">
		<p>
			Input your seed phrase and get back the position of each word in the <a
				class="link"
				href="https://github.com/bitcoin/bips/blob/master/bip-0039/bip-0039-wordlists.md"
				target="_blank">BIP39</a
			> wordlist. Only english is supported right now.
		</p>
	</div>
	<div class="form-control mt-5 mx-5">
		<label for="" class="label">
			<span class="label-text">Your seed phrase</span>
		</label>
		<textarea class="textarea textarea-primary lg:w-1/2 h-48" bind:value />
	</div>
	<h2 class="text-2xl text-primary mt-5 mb-2">Words positions</h2>
    <div class="mx-5">
      <ol class="list-decimal mx-5">
		{#each positions as position, index}
			<li>
				{#if position == '0 0 0 0'}<span class="font-bold">unknown word</span>{:else}{list[index]} →
					<span class="font-bold">{position}</span>{/if}
			</li>
		{/each}
	</ol>
    </div>
</div>
